html {
    font-family: open sans, sans-serif;
    font-size: 13px;    
    background-color: #161717;
    color: #dcddde;
}

header {
    text-align: center;
    font-size: 12px;
    font-family: Trebuchet MS;
    background-color: #2f3136;
    padding: 10px;

}

a:link {
    color: #dcddde;
    text-decoration: none;
  }

a:visited {
    color: #dcddde;
    text-decoration: none;
  } 

  a:hover {
    color: rgb(202, 39, 39);
    text-decoration: none;
  }

p[value="1"] {
    text-align: left;
}

.image-container {
    text-align: center;
}

.center-text {
    text-align: center;
}

#colored-titles {
    color:#dcddde;
}

#colored-paragraphs {
    color:#dcddde
}

.links {
    background-color: #2f3136;
}

#movie {
    text-align: center;
    width: 500px;
    padding: 10px;
    margin-left: 980px;
    margin-top: 2%;
    background-color: #2f3136;
    border: 3px solid rgb(255, 255, 255);
}